<div class="row">
	<div class="col-md-12">
		<h2 align="center" style="color:white">USB Location</h2>
		<hr/>
		<div class="table-responsive" style="background:white">
            <table class="table">
                <thead>
                    <th>USB&nbsp;ID</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </thead>
                <tbody>
                {{#each curLocation}}
                <tr>
                    <td>{{this.usbId}}</td>
                    <td>{{this.lat}}</td>
                    <td>{{this.lon}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
	</div>
    {{#unless departments}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/unless}}
</div>